rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isMohammad() {
      return isSignedIn()
        && request.auth.token.email == "mohammad@vacanze.local";
    }

    function isMahnoush() {
      return isSignedIn()
        && request.auth.token.email == "mahnoush@vacanze.local";
    }

    function usernameForCurrentUser() {
      return isMohammad() ? "mohammad" :
             isMahnoush() ? "mahnoush" : "";
    }

    match /trips/agosto-2026/checklist/{itemId} {
      allow read: if isMohammad() || isMahnoush();

      allow create: if (isMohammad() || isMahnoush())
        && request.resource.data.createdBy == usernameForCurrentUser();

      allow update: if isMohammad() || isMahnoush();

      allow delete: if isMohammad()
        || (isMahnoush() && resource.data.createdBy == "mahnoush");
    }
  }
}
